@use "../../styles/variables" as v;

.in-box__container {
  padding: 4rem clamp(1.5rem, 5vw, 3rem) 5.5rem clamp(1.5rem, 5vw, 3rem);

  & h6 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: 48em) {
    display: grid;
    row-gap: 0.8rem;
    grid-template-columns: repeat(2, 1fr);

    & h6 {
      grid-row: 1/6;
    }
  }
}

.box-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  .quantity {
    font-weight: 700;
    opacity: 1;
    color: v.$accentColor;
  }

  .item {
    color: v.$secondaryColor;
  }
}
