@use "../../styles/variables" as v;

.in-box__container {
  padding: 4rem 1.5rem 5.5rem 1.5rem;

  & h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
}

.box-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  .quantity {
    font-weight: 700;
    opacity: 1;
    color: v.$accentColor;
  }

  .item {
    color: v.$secondaryColor;
  }
}
