@use "../../styles/variables" as v;

.hero__container {
  position: relative;
  padding: 4rem 2.2rem;
  height: 32.938rem;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &-prod-content {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
    .overline {
      font-size: v.$fsOverline;
      font-weight: 400;
      line-height: v.$lSpaceOverline;
      letter-spacing: v.$chSpaceOverline;
      color: v.$primaryColor;
      text-transform: uppercase;
      opacity: 0.5;
      margin-bottom: 1rem;
    }
    & h2 {
      color: v.$primaryColor !important;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
    & p {
      color: v.$primaryColor;
      margin-bottom: 1.5rem;
    }

    & button {
      transition: all 0.3s ease-in-out;
      color: v.$primaryColor;
      background-color: v.$accentColor;
      &:hover {
        background-color: v.$buttonHover;
      }
    }
  }
}
