@use "../../styles/variables" as v;
.product-card__container {
  padding: clamp(4rem, 15vw, 8rem) clamp(1.5rem, 5vw, 3rem);
  max-width: 68.75rem;
  margin-inline: auto;

  .product-card__wrapper {
    display: grid;
    gap: 2rem;

    & img {
      width: 100%;
      border-radius: 0.5rem;
    }

    &.description-wrapper {
      @media screen and (min-width: 48em) {
        grid-template-columns: 0.68fr 1fr;
        gap: 4.3rem;
      }
    }

    &.v-1 {
      @media screen and (min-width: 62.5rem) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 7.8rem;

        .card-content {
          align-self: center;
        }
      }
    }

    &.v-2 {
      @media screen and (min-width: 62.5rem) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 7.8rem;

        & img {
          grid-column: 2/3;
        }
        .card-content {
          grid-column: 1/2;
          grid-row: 1;
          align-self: center;
        }
      }
    }
  }

  .card-content {
    text-align: center;
    display: grid;
    row-gap: 1.5rem;

    & h6 {
      font-size: v.$fsOverline;
      font-weight: 400;
      line-height: v.$lSpaceOverline;
      letter-spacing: v.$chSpaceOverline;
      color: v.$accentColor;
      text-transform: uppercase;
    }

    & h4 {
      font-size: clamp(1.75rem, 5vw, 2.5rem);
      max-width: 13ch;
      margin: 0 auto;
      text-transform: uppercase;
    }

    & p {
      color: black;
      margin-inline: auto;
      max-width: 32.25rem;
    }
    &.description {
      text-align: left;

      & h4 {
        margin: 0;
      }

      @media screen and (min-width: 48em) {
        padding: 2.8rem 0;
        & p {
          margin-inline: 0;
        }
      }
    }
  }

  @media screen and (min-width: 62.5rem) {
    padding-inline: 0;
  }
}
