

/* Colors */

$primaryColor: rgb(255, 255,255);
$secondaryColor: rgb(16, 16 , 16);
$accentColor: rgb(216, 125,74);
$cartBg: #f1f1f1;
$buttonHover: rgb(251, 175, 133);
$aTagColor: rgb(250,250,250);
$textColor: rgb(0, 0, 0);

/* Typography */

$fs1: 3.5rem;
$fs2: 2.5rem;
$fs3: 2rem;
$fs4: 1.75rem;
$fs5: 1.5rem;
$fs6: 1.25rem;
$fsBody: 0.94rem;
$fsSub: 0.812rem;
$fsOverline: 0.875rem;

$lSpace1: 3.625rem;
$lSpace2: 2.75rem;
$lSpace3: 2.25rem;
$lSpace4: 2.375rem;
$lSpace5: 2.06rem;
$lSpace6:1.5rem;
$lSpaceBody: 1.562rem;
$lSpaceSub: 1562rem;
$lSpaceOverline: 1.187rem;

$chSpace1: 0.125rem;
$chSpace2: 0.094rem;
$chSpace3: 0.072rem;
$chSpace4: 0.125rem;
$chSpace5: 0.108rem;
$chSpace6: 0.0812rem;
$chSpaceSub: 1px;
$chSpaceOverline: 0.625rem;