.price{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 1.28571px;
}

.add-to-cart-btn{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.op-1{
    color: black;
    opacity: 1;
    font-weight: 700;
}

.inputs{
    padding:0.75rem 1rem;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &.cart-inputs{
        padding:0.44rem 0.69rem;
    }
}
