@use "../../styles/variables" as v;

.heading{
    background-color: v.$secondaryColor;
    padding: clamp(2rem , 10vw,  6rem) 0;
    & h4{
        text-align: center;
        font-size: clamp(1.75rem, 5vw, 2.5rem);
        text-transform: uppercase;
        color: v.$primaryColor;
    }
}