@use "../../styles/variables" as v;

.cartYX1__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.5rem;
  margin: 0 0 3rem 0;
  & img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .cartYX1__wrapper {
    border-radius: 0.5rem;
    background-color: v.$cartBg;
    text-align: left;
    padding: 2.5rem 1.5rem;
    & h4 {
      color: v.$secondaryColor;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }
  }

  @media screen and (min-width: 48em) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.625rem;

    .cartYX1__wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
