.shoppingCart__container {
  padding: 1.875rem;
  border-radius: 0.5rem;
  background-color: white;
  max-width: 23.5rem;
  margin-left: auto;

  .shoppingCart__wrapper {
    display: grid;
    row-gap: 2rem;
  }

  .cl-black {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }

  .f-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.items {
      gap: 1.2rem;
    }
    & img {
      border-radius: 0.5rem;
      width: 4rem;
      height: 4rem;
    }

    .h-cart {
      font-size: 0.94rem;
      letter-spacing: 0;
    }
  }

  .f-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .checkout__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
