.features__container{
    padding: 1.5rem;

    & h6{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    & p{
        color: black;
        white-space: pre-line;
    }
}