.features__container {
  padding: clamp(1.5rem, 5vw, 3rem);

  & h6 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  & p {
    color: black;
    white-space: pre-line;
  }
}
