@use "../../styles/variables" as v;

.footer1__container {
  display: grid;
  row-gap: 2.5rem;
  text-align: center;
  margin: 2.5rem 1.5rem;
  max-width: 68.75rem;
  & img {
    width: 100%;
    border-radius: 0.5rem;
  }

  .footer1__description {
    margin: 0 auto;
    display: grid;
    row-gap: 2rem;
    max-width: 80%;
    & h4 {
      text-transform: uppercase;
      font-size: clamp(1.75rem, 5vw, 2.5rem);
      & span {
        color: v.$accentColor;
      }
    }
    & p {
      color: v.$secondaryColor;
    }

    @media screen and (min-width: 62.5em){
      align-self: center;
      text-align: left;
      grid-column: 1;
      grid-row: 1;
    }
  }

  @media screen and (min-width: 62.5em) {
    grid-template-columns: repeat(2, 1fr);
   
    column-gap: 2.5rem;
       margin-inline: auto;

       & img{
        grid-column: 2;
       }
  }
}
