@use "../../styles/variables" as v;

.footer1__container {
  display: grid;
  row-gap: 2.5rem;
  text-align: center;
  margin: 2.5rem 1.5rem;
  & img {
    width: 100%;
    border-radius: 0.5rem;
  }

  .footer1__description {
    margin: 0 auto;
    display: grid;
    row-gap: 2rem;
    max-width: 80%;
    & h4 {
      text-transform: uppercase;
      font-size: clamp(1.75rem, 5vw, 2.5rem);
      & span {
        color: v.$accentColor;
      }
    }
    & p {
      color: v.$secondaryColor;
    }
  }
}
