@use "../../styles/variables" as v;

.productLinks__container {
  margin: 0 1.5rem;
  text-align: center;
  color: v.$primaryColor;
  overflow: hidden;
  max-width: 68.75rem;

  @media screen and (min-width: 62.5em) {
       margin-inline: auto;
  }
}
